<h1>Uptime Monistorin</h1>
<h2>Made simple</h2>

<div class="blurb">We ofer free, simple monitoring for HTTP/HTTPS sites of all kinds. When your site goes down, we'll send you a text to let you know. Quod quis voluptate velit sit voluptatibus autem qui. Mollitia quo dolores veniam incidunt est id. Itaque provident laborum rem est fuga. Saepe adipisci eum ut quae ut et quia non.

Repudiandae quaerat sed ut architecto deleniti est ut dolor. Porro asperiores culpa ut et reprehenderit inventore. Amet quia impedit eius voluptas. Voluptatum corrupti totam magnam placeat ut nostrum voluptatem nulla. Rem reiciendis et molestiae ipsum similique est.</div>

<div class="ctaWrapper">
  <a class="cta green" href="account/create">Get Started</a>
  <a class="cta blue" href="session/create">Login</a>
</div>
